*{
    text-decoration: none;
    color: black;
}
.header{
display: flex;
justify-content:space-between;
align-items: center;
border: 1px solid black;
}
.logo{
    width : 100px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
}

.nav-items>ul>li {
padding:10px ;
margin: 10px;
list-style-type: none;
}

.res-card{
    width :250px;
    background-color: yellow;
    margin: 5px;
}
.res-card:hover{
    border :1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;;
}
.res-logo{
    width : 150px;
    padding: 10px 0 0 60px;
}

.res-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.filter-btn{
margin : 10px;
cursor: pointer;
}

.shimmercont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card{
    width :250px;
    height: 300px;
    background-color: grey;
    opacity: 50%;
    margin: 5px;

}

.login{
    margin-right:10px ;
}

.user-card{
    border :1px solid black;
}